$debug: false;

$base-font-size: 16px;
$base-line-height: 24px;
$relative-font-sizing: false;

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 0.5em;

$show-grid-backgrounds: $debug;

$tablet: 8;
$desktop: 50em 12 lt-ie9;

$legacy-support-for-ie: true;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;

@import "compass/reset";
@import "compass/typography";
@import "compass/css3";

@import "susy";

$fa-font-path: "../fonts/font-awesome";
$fa-css-prefix: icon;

@import "vendor/font-awesome";