$debug: false;

$base-font-size: 16px;
$base-line-height: 26px;
$relative-font-sizing: false;

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 0.5em;

$show-grid-backgrounds: $debug;

$tablet: 8;
$desktop: 50em 12;

$no-media-queries: lt-ie9;
@function fallback($media-layout) {
	@return join($media-layout, $no-media-queries);
}

$legacy-support-for-ie: true;
$legacy-support-for-ie6: true;
$legacy-support-for-ie7: true;

@import "compass/reset";
@import "compass/typography";
@import "compass/css3";

@import "susy";

// $fa-font-path: "../fonts/font-awesome";
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.0.1/fonts";
$fa-css-prefix: icon;

@import "vendor/font-awesome";

// theme colors
$green: #1dd300;
$blue: adjust-hue($green, 90deg);
$red: adjust-hue($green, 225deg);
