@import "base";

@include establish-baseline;

body {
	background-color: lighten(black, 95%);
	background-image: url(../images/bg.png);
	background-attachment: fixed;
	font-family: "Play", Arial, "Helvetica Neue", Helvetica, sans-serif;
	@if $debug {
		background-color: white !important;
		background-attachment: scroll !important;
		@include debug-vertical-alignment;
		* {
			background-color: transparent !important;
			color: black !important;
		}
	}
}

.container {
	@include container($total-columns, $tablet, fallback($desktop));
	@if $debug { @include susy-grid-background; }
	.main-inner {
		@include rhythm(1, 2, 2, 0);
		padding-left: 1em;
		padding-right: 1em;
	}
}

.container {
	@include at-breakpoint($tablet) {
		@if $debug { @include susy-grid-background; }
	}
	.main-inner {
		padding-left: 2em;
		padding-right: 2em;
	}
}

.container {
	@include at-breakpoint(fallback($desktop)) {
		@if $debug { @include susy-grid-background; }
		.main-inner {
			min-height: rhythm(10);
			@include pad(1, 1);
		}
		.banner-inner, .nav-inner, .main-inner, .footer-inner {
			@include squish(1, 1);
		}
	}
}

@import "partials/header";
@import "partials/content";
@import "partials/footer";
@import "partials/typography";
@import "partials/syntax";
