@import "base";

@include establish-baseline;

body {
	background-color: lighten(black, 10%);
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	@if $debug {
		background-color: white !important;
		@include debug-vertical-alignment;
		* {
			background-color: transparent !important;
			color: black !important;
		}
	}
}

.header-wrap, .footer-wrap, .content-wrap {
	width: 100%;
	clear: both;
}
.header-wrap {
	background-color: lighten(black, 15%);
}
.content-wrap {
	background-color: lighten(black, 92.5%);
}
.footer-wrap {
	background-color: lighten(black, 15%);
	color: white;
}

.container {
	@include container($total-columns, $tablet, $desktop);
	@if $debug { @include susy-grid-background; }
	.banner {
		padding: 0 1em;
	}
	.nav {
		@include leader(1);
	}
	.main {
		padding: rhythm(1) 1em;
	}
	.footer {
		@include rhythm(0, 1, 1, 0);
	}
}

.container {
	@include at-breakpoint($tablet) {
		@if $debug { @include susy-grid-background; }
	}
}

.container {
	@include at-breakpoint($desktop) {
		@if $debug { @include susy-grid-background; }
		.banner {
			padding: 0 2em;
		}
		.nav {
		}
		.main {
			@include squish(1, 1);
			padding-left: 0;
			padding-right: 0;
			min-height: rhythm(10);
		}
		.footer {
			@include pad(1, 1);
		}
	}
}

@import "partials/header";
@import "partials/content";
@import "partials/footer";
@import "partials/typography";
@import "partials/syntax";
