@import "base";

@include establish-baseline;

body {
	background-color: adjust-lightness(black, 10%);
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	@if $debug {
		background-color: white !important;
		@include debug-vertical-alignment;
		* {
			background-color: transparent !important;
			color: black !important;
		}
	}
}

.header-wrap, .footer-wrap, .content-wrap {
	width: 100%;
	clear: both;
}
.header-wrap {
	background-color: adjust-lightness(black, 15%);
}
.content-wrap {
	background-color: adjust-lightness(black, 92.5%);
}
.footer-wrap {
	background-color: adjust-lightness(black, 15%);
	color: white;
}

@mixin underscore($width, $color, $style: solid) {
	border: {
		top: 0;
		left: 0;
		right: 0;
		bottom: {
			style: $style;
			width: $width;
			color: $color;
		}
	}
}

.container {
	@include container($total-columns, $tablet, $desktop);
	@if $debug { @include susy-grid-background; }
	.banner {
		padding: 0 1em;
		.title {
			@include rhythm(0, 1.5, 0.5, 0, 36px);
			@include adjust-font-size-to(36px, 2);
			font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
			font-weight: bold;
			color: white;
			a {
				@include unstyled-link;
			}
		}
		.motto {
			@include adjust-font-size-to(20px, 1);
			font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
			font-style: italic;
			color: adjust-lightness(black, 30%);
		}
	}
	.nav {
		$underscore-thickness: 6px;
		@include leader(1);
		ul {
			@include legacy-pie-clearfix;
			@include underscore($underscore-thickness, adjust-lightness(black, 30%));
			padding: 0 1em;
			margin: -$underscore-thickness 0 0 0;
			li {
				@include no-bullet;
				@include float(left);
				@include underscore($underscore-thickness, adjust-lightness(black, 50%));
				white-space: nowrap;
				margin: {
					right: 1em;
					bottom: -$underscore-thickness;
				}
				&:hover {
					border-bottom-color: adjust-lightness(black, 75%);
				}
				a {
					padding: {
						top: rhythm(0.5);
						bottom: rhythm(0.5);
						left: 0.5em;
						right: 0.5em;
					}
					display: block;
					i.#{$fa-css-prefix} {
						
						padding: {
							left: 0.25em;
							right: 0.25em;
						}
					}
				}
			}
		}
	}
	.main {
		@include rhythm(0, 1, 1, 0);
		padding-left: 1em;
		padding-right: 1em;
		.title {
			@include adjust-font-size-to(28px, 2);
			font-weight: bold;
		}
		.time {
			color: adjust-lightness(black, 36%);
			@include trailer(1);
		}
		p {
			@include padding-trailer(1);
		}
	}
	.footer {
		@include rhythm(0, 1, 1, 0);
		text-align: center;
	}
}

.container {
	@include at-breakpoint($tablet) {
		@if $debug { @include susy-grid-background; }
	}
}

.container {
	@include at-breakpoint($desktop) {
		@if $debug { @include susy-grid-background; }
		.banner {
			padding: 0 2em;
		}
		.nav {
		}
		.main {
			@include squish(1, 1);
			padding-left: 0;
			padding-right: 0;
			min-height: rhythm(10);
		}
		.footer {
			@include pad(1, 1);
		}
	}
}
