.container .main {
	.title {
		@include adjust-font-size-to(1.8em, 2);
		font-weight: bold;
	}
	.time {
		color: lighten(black, 36%);
		@include trailer(1);
	}
	a {
		@include link-colors(
			$normal: desaturate($blue, 50%),
			$hover: desaturate($red, 20%));
		text-decoration: none;
		border-bottom: 1px dashed lighten(black, 50%);
	}
}