.container .main-inner {
	@include word-break(break-all);
	@include single-box-shadow(
		$color: lighten(black, 85%),
		$blur: 10px);
	background-color: white;
	.title {
		@include adjust-font-size-to(1.8em, 2);
		font-weight: bold;
	}
	.time {
		color: lighten(black, 36%);
		@include trailer(1);
	}
	a {
		@include link-colors(
			$normal: desaturate($blue, 50%),
			$hover: desaturate($red, 20%));
		text-decoration: none;
		border-bottom: 1px dashed lighten(black, 50%);
	}
}