.container .footer-inner {
	text-align: center;
	a {
		@include link-colors(
			$normal: desaturate($blue, 80%),
			$hover: $blue);
		@include single-transition(color, 0.5s);
		text-decoration: none;
	}
}