.container .footer-inner {
	padding: rhythm(1) 0;
	color: lighten(black, 60%);
	a {
		@include link-colors(
			$normal: desaturate($blue, 80%),
			$hover: $blue);
		@include single-transition(color, 0.5s);
		text-decoration: none;
	}
	i.#{$fa-css-prefix} {
		font-size: (4em / 3);
	}
	.copyright, .links {
		text-align: center;
	}
	.links a {
		@include link-colors(
			$normal: lighten(black, 80%),
			$hover: $blue);
	}
	@include at-breakpoint(fallback($desktop)) {
		@include legacy-pie-clearfix;
		i.#{$fa-css-prefix} {
			font-size: 2em;
		}
		.copyright {
			@include span-columns(8);
			text-align: left;
			p {
				padding-left: 1em;
			}
		}
		.links {
			@include span-columns(4 omega);
			text-align: right;
			p {
				padding-right: 1em;
			}
		}
	}
}
