.container .banner-inner {
	text-align: center;
	.title {
		@include padding-leader(2);
		@include adjust-font-size-to(2.25em, 2);
		font-weight: bold;
		&, a {
			color: lighten(black, 50%);
		}
		a {
			@include single-transition(color, 0.5s);
			text-decoration: none;
			&:hover {
				color: darken(desaturate($blue, 25%), 10%);
			}
		}
	}
	.motto {
		@include adjust-font-size-to(1.25em, 1);
		font-weight: normal;
		color: lighten(black, 75%);
	}
}

@mixin underscore($width, $color, $style: solid) {
	border-bottom: $width $style $color;
}

.container .nav-inner {
	$underscore-thickness: 2px;
	ul {
		@include legacy-pie-clearfix;
		@include underscore($underscore-thickness, transparent);
		padding: 0 1em;
		margin-bottom: -$underscore-thickness;
		li {
			@include no-bullet;
			@include underscore($underscore-thickness, lighten(black, 85%));
			white-space: nowrap;
			margin-bottom: -$underscore-thickness;
			&:hover {
				@include single-transition(border-bottom-color, 0.5s);
				border-bottom-color: desaturate($blue, 25%);
			}
			a {
				@include link-colors(
					$normal: lighten(black, 50%),
					$hover: black);
				@include single-transition(color, 0.5s);
				text-decoration: none;
				padding: rhythm(0.25) 0.5em;
				margin-top: (rhythm(1) - 2*rhythm(0.25));
				display: block;
				i.#{$fa-css-prefix} {
					padding-right: 0.25em;
				}
			}
		}
		@include at-breakpoint(fallback($tablet)) {
			text-align: center;
			li {
				display: inline-block;
				*display: inline;
				zoom: 1;
				margin-left: 0.25em;
			}
		}
	}
}