.container .banner-inner {
	.title {
		@include rhythm(0, 1.5, 0.5, 0);
		@include adjust-font-size-to(2.25em, 2);
		font-family: Cambria, Georgia, Times, "Times New Roman", serif;
		font-weight: bold;
		&, a {
			color: darken(desaturate($blue, 75%), 10%);
		}
		a {
			@include single-transition(color, 0.5s);
			text-decoration: none;
			&:hover {
				color: white;
			}
		}
	}
	.motto {
		@include adjust-font-size-to(1.25em, 1);
		font-family: Georgia, Palatino, "Palatino Linotype", Times, "Times New Roman", serif;
		font-weight: normal;
		font-style: italic;
		color: lighten(black, 30%);
	}
}

@mixin underscore($width, $color, $style: solid) {
	border-bottom: $width $style $color;
}

.container .nav-inner {
	$underscore-thickness: 8px;
	ul {
		@include legacy-pie-clearfix;
		@include underscore($underscore-thickness, lighten(black, 15%));
		padding: 0 1em;
		margin: -$underscore-thickness 0 0 0;
		li {
			@include no-bullet;
			@include underscore($underscore-thickness, lighten(black, 20%));
			white-space: nowrap;
			margin: {
				top: $underscore-thickness*2;
				bottom: -$underscore-thickness;
			}
			@include at-breakpoint(fallback($tablet)) {
				@include float(left);
				margin: {
					top: 0;
					right: 0.25em;
				}
			}
			&:hover {
				@include single-transition(border-bottom-color, 0.5s);
				border-bottom-color: desaturate($red, 75%);
			}
			a {
				@include link-colors(
					$normal: lighten(black, 50%),
					$hover: white);
				@include single-transition(color, 0.5s);
				background-color: lighten(black, 15%);
				text-decoration: none;
				padding: rhythm(0.5) 0.5em;
				display: block;
				i.#{$fa-css-prefix} {
					padding-right: 0.25em;
				}
			}
		}
	}
}